@model _7.Models.Student


<h2>Edit Student</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(m => m.StudentID)

    <div class="form-group">
        @Html.LabelFor(m => m.Name)
        @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Age)
        @Html.TextBoxFor(m => m.Age, new { @class = "form-control" })
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Course)
        @Html.TextBoxFor(m => m.Course, new { @class = "form-control" })
    </div>

    <button type="submit" class="btn btn-primary">Save Changes</button>
    @Html.ActionLink("Cancel", "Index", null, new { @class = "btn btn-secondary" })
}

